<div class="task-card">
  <div class="task-header">
    <h4 class="task-title">{{ card().title }}</h4>
    <div class="task-actions-wrapper">
      <button class="task-actions" (click)="toggleMenu($event)">&#8942;</button>

      @if (isMenuOpen()) {
        <div class="dropdown-menu">
          <button class="dropdown-item" (click)="editTask()">Edit</button>
          <button class="dropdown-item delete" (click)="deleteTask()">Delete</button>
        </div>
      }
    </div>
  </div>
  @if (card().description) {
    <p class="task-description">{{ card().description }}</p>
  }
</div>
