<div class="board-wrapper">
  <header class="board-header"></header>

  <div class="board-container">
    @if (board(); as b) {
      @for (column of b.columns; track column.id) {
        <app-list [column]="column"></app-list>
      }
    }

    <div class="add-task-wrapper">
      <button class="add-task-btn" (click)="openCreateTaskModal()">+</button>

    </div>
  </div>

  <app-task-modal
    [isOpen]="isCreateTaskModalOpen()"
    (closeModal)="closeCreateTaskModal()"
    (saveTask)="handleSaveTask($event)"
  >
  </app-task-modal>
</div>
