.settings-content {
  padding: 1rem;
}
[modal-header] {
  width: 100%;
  text-align: center;
}

[modal-header] h3 {
  text-align: center;
  font-family: kanit, sans-serif;
  font-weight: 400;
}

.settings-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.row-group {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

label {
  font-weight: 500;
  color: #333;
}

.form-control {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.form-control:focus {
  outline: none;
  border-color: #4c90ff;
}

/* Toggle Switch Styles */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #1cc309;
}

input:focus + .slider {
  box-shadow: 0 0 1px #1cc309;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 24px;
}

.slider.round:before {
  border-radius: 50%;
}

.save-btn {
  background-color: #4c90ff;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 15px;
  cursor: pointer;
  font-weight: bold;
  width: 80px;
  height: 35px;
  font-family: kanit, sans-serif;
  font-weight: 400;
}

.save-btn:hover {
  background-color: #3a7ae0;
}

.cancel-btn {
  background-color: transparent;
  color: #060606;
  border: #cfcfcf solid 1px;
  border-radius: 15px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  width: 80px;
  height: 35px;
  font-family: kanit, sans-serif;
  font-weight: 400;
}

.cancel-btn:hover {
  background-color: #f2f2f2;
  border-color: #cfcfcf;
}
.settings-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
