nav {
  width: 100%;
  height: 3.875rem;
  background-color: #4c90ff;

  display: flex;
  align-items: center;
  padding: 0 16px;
  box-sizing: border-box;
}

.left-section,
.right-section {
  display: flex;
  align-items: center;
}

.right-section {
  margin-left: auto;
}

.back-btn,
.settings-btn,
.logout-btn {
  background: none;
  border: none;
  padding: 0;
  margin: 0;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  appearance: none;
  -webkit-appearance: none;
}

.settings-btn {
  width: 3rem;
  height: 3rem;
}

.settings-btn svg {
  width: 2.3rem;
  height: 2.3rem;
  display: block;
  stroke: white;
  fill: none;
}

.back-btn {
  width: 3.125rem;
  height: 2.4375rem;
}

.back-btn svg {
  width: 3.125rem;
  height: 2.4375rem;
  display: block;
  stroke: white;
  fill: none;
}

.logout-btn {
  width: 3rem;
  height: 3rem;
}

.logout-btn svg {
  width: 3rem;
  height: 2.4rem;
  display: block;
  stroke: white;
  fill: none;
}
