.calendar-modal-content {
  width: 100%;
  min-height: 78px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  padding: 10px 24px;

  border: none;
  border-radius: 18px;

  background: #4f8df7;
  color: #ffffff;

  font-size: 16px;
  font-weight: 500;
  font-family: kanit, sans-serif;
  line-height: 1;

  cursor: pointer;
}

.calendar-icon svg {
  width: 18px;
  height: 18px;
}

.calendar-button:hover {
  background: #3a7ae0;
}
